/**
 * Component: Authorise
 * -----------------------------------------------------------------------------
 * Base style for the 'authorise' component.
 *
 */
.authorise {
  align-items: center;
  // background-color: var(--colour-background-now-playing);
  background-color: black;
  // color: var(--color-text-primary);
  color:  rgb(240, 240, 240);
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: center;
  padding: var(--spacing-l);

  &__heading {}
  &__copy {
    max-width: 960px;
    text-align: center;
    margin: 0 0 var(--spacing-m) 0;
  }

  &__button {
    margin-bottom: var(--spacing-l);
  }

  &__credit {
    opacity: 0.8;
    font-size: 0.7em;

    a {
      color: inherit;
    }
  }
}