/**
 * Component: Now Playing.
 * -----------------------------------------------------------------------------
 * Styles for the 'Now Playing' screen.
 *
 */
.now-playing {
  // background-color: var(--colour-background-now-playing);
  background-color: var(--colour-background-now-playing);
  // color: var(--color-text-primary);
  color:  rgb(240, 240, 240);
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  // padding: var(--spacing-m);
  padding: 0%;
  margin: 0%;
  width: 100%;

  &__cover,
  &__details {
    // padding: var(--spacing-l);
    padding: 1%;
    text-align: left;
    width: 100%;
    max-width: 1200px;
  }

  &__cover {
    max-width: 1000px;
    padding: 0%;
  }

  &__image {
    box-shadow: 1px 1px 16px -2px rgba(0, 0, 0, .3);
    // height: auto;
    height: 100%;
    width: 100%;
    object-fit: fill;
    // max-width: 60vw;
    // width: 100%;
  }

  &__details {
    text-align: left;
  }

  &__track {
    font-weight: var(--font-weight-heading);
  }

  &__artists {
    opacity: 0.8;
  }

  &--active {
    align-items: center;
    justify-content: center;
  }

  &--idle {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100%;
  }

  &__idle-heading {
    width: 100%;
    text-align: center;
    justify-content: center;
  
  }

}
