/**
 * Global: Variables.
 * -----------------------------------------------------------------------------
 *
 */

 @font-face {
  font-display: swap;
  font-family: 'Roboto', sans-serif;
  // font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
}

:root {
  --spacing-m: 1rem;
  --spacing-l: 1.5rem;
  --spacing-xl: 2rem;

  --colour-background-now-playing: #301934;
  --color-text-primary: rgb(240, 240, 240);
  --colour-text-secondary: #000;
  --color-brand-spotify: #4e8260;

  --font-size-base: 60px;

  --font-body: 'Roboto', 'Source Sans Pro', Helvetica, Arial, sans-serif;
  --font-weight-body: 400;
  --font-weight-heading: 900;

  --body-line-height: 1.1;

}