/*----------------------------------------
Buttons...
----------------------------------------*/

.btn{
    background: $spotify_green;
    text-align: center;
    font-size: 1.15em;
    letter-spacing: 2px;
    line-height: 1;
    border-radius: 500px;
    padding: 21px 56px 19px;
    text-transform: uppercase;
    font-weight: 700;
    @include transition(all, .2s, ease-in-out);

    &:hover{
        background: lighten($spotify_green, 5%);
    }
}