/*----------------------------------------
Main app page
----------------------------------------*/

body#home{
	background: #c074b2;
	@include transition(background, .2s, ease-in-out);
	overflow: hidden;

	&.connected{
		background: $black;
	}

	main.wrapper{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100vw;
		height: 100vh;
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
		@include transition(all, .75s, ease-in-out);
	}

	main.wrapper .authorise{
		box-shadow: 0 6px 9px rgba(0, 0, 0, 0.3);
	}

	main.wrapper .authorise,
	main.wrapper .idle{
		background: rgba($black, 0.7);
		width: 550px;
		height: 50vh;
		min-height: 350px;
		padding: 40px;
		position: relative;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		z-index: 5;

		h1{
			font-size: 2.25em;
			font-family: $fontBlack;
			margin-top: 0;
		}
	}

	main.wrapper .nowPlaying{
		position: relative;
		text-align: left;
		width: 90%;
		max-width: 950px;
		height: 90%;
		opacity: 1;
		@include transition(opacity, .2s, ease-in-out);
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media only screen and (max-width: 650px){
			flex-direction: column;
			justify-content: center;
		}

		figure{
			width: 50%;
			position: relative;
			max-width: 400px;
			text-align: center;

			@media only screen and (max-width: 650px){
				width: 100%;
			}

			img#artwork{
				max-width: 100%;
				height: auto;
				box-shadow: 1px 1px 16px -2px rgba(0,0,0,.3);

				@media only screen and (max-width: 650px){
					max-width: 70%;
				}
			}
		}

		figcaption{
			width: 50%;
			margin: 0 0 0 0;

			@media only screen and (max-width: 650px){
				width: 100%;
				text-align: center;
			}
		}

		#artistName,
		#trackName{
			line-height: 1.1;
			word-break: break-word;
			hyphens: auto;
			letter-spacing: -1.25px;
		}

		#artistName{
			margin: 0.15em 0 0 0;
			font-size: 2.55em;
			font-family: $fontReg;
			letter-spacing: 0.5px;
			opacity: 0.8; // color will be inherited from vibrant, so lower the opacity of the block

			@media only screen and (max-width: 768px){
				font-size: 1.75em;
			}
		}

		#trackName{
			margin: 0.25em 0 .2em 0;
			font-size: 3.25em;
			font-family: $fontBlack;

			@media only screen and (max-width: 768px){
				font-size: 2.55em;
			}

		}
	}

	.inactive{
		display: none !important;
	}

	&.active{
		display: block;
	}
}